# Common
node_modules/
.DS_Store
.env
.env.local
.env.*.local
*.log

# Backend
Backend/node_modules/
Backend/.env

# Frontend
ai-based-project/node_modules/
ai-based-project/dist/
ai-based-project/dist-ssr/
ai-based-project/*.local

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
